Source: timekpr
Section: admin
Priority: extra
Maintainer: Savvas Radevic <vicedar@gmail.com>
Uploaders: Even Nedberg <code@nedberg.net>, Savvas Radevic <vicedar@gmail.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.0
Vcs-Bzr: http://bazaar.launchpad.net/~nedberg/timekpr/trunk
Vcs-Browser: http://bazaar.launchpad.net/~nedberg/timekpr/trunk/files
Homepage: http://launchpad.net/timekpr/

Package: timekpr
Architecture: all
Pre-Depends: sed, grep
Depends: ${shlibs:Depends}, ${misc:Depends}, libnotify-bin, python (>= 2.5), python-gtk2, python-glade2, procps, login, libpam-modules
Provides: timekpr
Conflicts: timekpr
Replaces: timekpr
Recommends: gdm
Description: Timekeeper - Keep control of computer usage
 This program will track and control the computer usage of
 your kids. You can limit their daily usage and configure
 periods when they cannot log in.
 .
 Please report any bug to our bug tracker:
 https://bugs.launchpad.net/timekpr/+bugs
