[Desktop Entry]
Name=Timekeeper
Name[en_CA]=Timekeeper
Name[en_GB]=Timekeeper
Comment=Keep control of computer usage
Comment[en_CA]=Keep control of computer usage
Comment[en_GB]=Keep control of computer usage
Exec=su-to-root -X -c /usr/bin/timekpr-gui
Icon=config-users
Terminal=false
Type=Application
Categories=System;Settings;GTK;
StartupNotify=true
