[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Timekpr Control Panel
Name[en_CA]=Timekpr Control Panel
Name[en_GB]=Timekpr Control Panel
GenericName=Keep control of computer usage
GenericName[en_CA]=Keep control of computer usage
GenericName[en_GB]=Keep control of computer usage
Comment=Keep control of computer usage
Comment[en_CA]=Keep control of computer usage
Comment[en_GB]=Keep control of computer usage
Exec=gksu /usr/bin/timekpr-gui
Icon=timekpr.xpm
Terminal=false
Type=Application
Categories=System;Settings;GTK;
StartupNotify=true

