[Desktop Entry]
Encoding=UTF-8
Name=Timekpr Client
Comment=Timekpr Client
Icon=timekpr
Exec=/usr/bin/timekpr-client
Terminal=false
Type=Application
Categories=
OnlyShowIn=GNOME;XFCE;KDE;LXDE;Unity;MATE;
X-GNOME-Autostart-enabled=true
X-Ubuntu-Gettext-Domain=timekpr
