[Desktop Entry]
Name=Timekpr
Name[en_CA]=Timekpr
Name[en_GB]=Timekpr
Comment=Keep control of computer usage
Comment[en_CA]=Keep control of computer usage
Comment[en_GB]=Keep control of computer usage
Exec=su-to-root -X -c /usr/bin/timekpr-gui
Icon=/usr/share/timekpr/timekpr32x32.png
Terminal=false
Type=Application
Categories=System;Settings;GTK;
StartupNotify=true
